body {
    margin: 0 13%;
    font-family: "Georgia", Times, serif;
    background: #282828;
}
.container {
    background: #ffffff;
}
/* Begin Topbar*/
.Topbar {
    height: 52px;
    width: 1000px;
    background: #ba2e1f;
}
.Topbar--left{
    width: 500px;
    float: left;
    height: 52px;
}
.Topbar--left--link a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    border-right: 1px solid white;
    padding: 0 7px;
    margin-top: 10px;
}
.Topbar--left--link a:hover{
    color: #333333;
}
.Topbar--left--link{
    margin-top: 15px;
}
.Topbar--left a:first-child {
    padding-left: 20px;
}
.Topbar--left a:last-child{
    border-right: none;
}
.Topbar--right{
    width: 500px;
    float: right;
    height: 52px;
}
.Topbar--right form{
    float: right;
    position: relative;
    margin-right: 20px;
}
.Topbar--right form input {
    width: 212px;
    height: 25px;
    border-radius: 20px;
    border: 0;
    margin-top: 12px;
}
.Topbar--right form i {
    position: absolute;
    right: 10px;
    top: 16px;
    background: #ba2e1f;
    color: white;
    border-radius: 25px;
    padding: 5px;
    font-size: 10px;
}


/* Begin Header */
.Header {
    width: 1000px;
    height: 100px;
    clear: both;
}
.Header--left {
    width: 500px;
    float: left;
    height: 100%;
}
.Header--left img {
    margin: 40px 0 0 20px;
}
.Header--right {
    width: 500px;
    float: right;
    height: 100%;
    text-align: right;
}
.Header--right a i {
    background:#333333;
    padding: 10px;
    color: #ffffff;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 60px;
}
.Header--right a i:hover {
    background:#ee802f ;
}
.Header--right a:last-child{
    margin-right: 20px;
}


/* Begin Topnavigation */
.Topnavigation {
    width: 960px;
    height: 40px;
    background: #333333;
    border-radius: 5px;
    margin: 40px 20px 20px;
    text-align: center;
}
.Topnavigation nav{
    width: 960px;
    height: 40px;
    padding-top: 10px;
}
.Topnavigation nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-right: 23px;
}
.Topnavigation nav a:hover{
    color: #ba2e1f;
}


/* Begin Intro */
.Intro {
    height: 440px; 
    width: 960px;
    margin: 0 20px;
}
.Intro--left {
    height: 440px; 
    width: 400px;
    float: left;
}
.Intro--right {
    height: 440px; 
    width: 520px;
    float:right;
}
.Intro--right h1 {
    font-size: 86px;
    font-weight: 100;
    margin-top: 115px;
    margin-bottom: 0;
}
.Intro--right a i {
    font-size: 8px;
}
.Intro--right p {
    margin-top: 0;
}
.Intro--right a {
    float: right;
    text-decoration: none;
    color: #ba2e1f;
}
.Intro--right a:hover {
    color: #333333;
}



/* Begin Content */
.Content {
    height: 555px;
    background: #f2f2f2;
    padding: 0 20px;
}
.Content h4 {
    font-size: 26px;
    font-weight: 100;
    margin: 50px 0;
}
.Content--width {
    height: 555px;
    width: 300px;
    float: left;
    overflow: hidden;
}
.Content--width h4 {
    color: #333333;
}
.Content--left img {
    border: 1px solid #dfdfdf;
    padding: 4px;
}
.Content--left p {
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
}
.Content--left a {
    float: right;
    text-decoration: none;
    color: #ba2e1f;
    font-weight: 100;
    font-size: 13px;
}
.Content--center {
    padding-left: 35px;
}
.Content--center--para {
    height: 80px;
    margin-bottom: 13px;
}
.Content--center--para--text {
    width: 200px;
    float: right;
    margin-right: 10px;
}
.Content--center--para--text p {
    font-size: 13px;
    margin: 0;
    line-height: 20px;
    color: #878787;
}
.Content--center--para--text h6 {
    margin: 5px 0;
    color: #878787;
    font-size: 14px;
}
.Content--center--para--img {
    height: 64px;
    width: 64px;
    float: left;
}
.Content--center a {
    float: right;
    text-decoration: none;
    color: #ba2e1f;
    font-weight: 100;
    font-size: 13px;
    margin-right: 15px;
}
.Content--right--top {
    height: 200px;
    margin-bottom: 10px;
}
.Content--right--top--img {
    height: 62px;
}
.Content--right--top--img img{
    float: left;
    height: 62px;
    width: 62px;
}
.Content--right--top p {
    font-size: 13px;
    line-height: 20px;
    padding-right: 23px;
    color: #878787;
    margin-top: 20px;
    margin-bottom: 0;
}
.Content--right {
    padding-left: 23px;
    margin: 0;

}
.Content--right--top--img h6 {
    margin: 0;
    color: #878787;
    font-size: 14px;
    height: 62px;
    width: 230px;
    float: right;
    margin-top: 20px;
    height: 62px;
}
.Content--right--top a {
    float: right;
    text-decoration: none;
    color: #ba2e1f;
    font-size: 13px;
}
.Content i {
    font-size: 8px;
}

/* Begin Footer */
.Footer {
    height: 400px;
    width: 1000px;
    overflow: hidden;
}
.Footer--width {
    width: 210px;
    float: left;
}
.Footer--width h5 {
    border-top: 1px solid #666666;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 100;
    width: 195px;
}
.Footer--tweets {
    margin-left: 20px;
}
.Footer--tweets span {
    color: #ba2e1f;
}
.Footer--post--para {
    color: #878787;
}
.Footer--tweets p {
    font-size: 12px;
    line-height: 18px;
    color: #878787;
    padding-right: 17px;
    margin: 20px 0;
}
.Footer--link {
    margin-left: 45px;
}
.Footer--link ul {
    padding: 0;
}
.Footer--link ul li {
    width:195px;
    list-style-type: none;
    font-size: 12px;
    color: #878787;
    border-bottom: 1px solid #d4d4d4;
    padding: 8px 0;
}
.Footer--link ul li i {
    font-size: 8px;
    margin-right: 7px;
}
.Footer--link ul li:first-child {
    padding-top: 0;
}
.Footer--post {
    margin-left: 45px;
}
.Footer--post--para {
    margin-bottom: 50px;
}
.Footer--post--para--small h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.para--big {
    font-size: 12px;
    padding-right: 13px;
}
.para--small {
    margin: 0;
    font-size: 10px;
}
.para--small span {
    color: #ba2e1f;
}
.Footer--post--para a {
    float: right;
    color: #ba2e1f;
    font-size: 12px;
    text-decoration: none;
    margin-right: 20px;
}
.Footer--post--para a i {
    font-size: 8px;
}
.Footer--contact {
    margin-left: 45px;
}
.Footer--contact form input {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 13px;
    background: #f2f2f2;
}
.Footer--contact form textarea {
    width: 180px;
    height:110px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 13px;
    background: #f2f2f2;
}
.Footer--contact form button {
    height: 30px;
    width: 80px;
    background: #f2f2f2;
    border: 0;
    border-radius: 5px;
}
.Footer--contact form button a {
    color: #ba2e1f;
    text-decoration: none;
}


/* Begin Copyright */
.Copyright {
    height: 65px;
    width: 1000px;
    background: #f2f2f2;
    overflow: hidden;
}
.Copyright--left {
    width: 500px;
    float: left;
}
.Copyright--left p {
    margin: 30px 20px;
    font-size: 12px;
    color: #919191;
}
.Copyright--right {
    width: 500px;
    float: left;
}
.Copyright--right p {
    float: right;
    margin: 30px 20px;
    font-size: 12px;
    color: #919191;
} 