body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Begin container */
.container {
    height: auto;
    width: 100%;
    overflow: hidden;
}
.container--small {
    height: auto;
    width: 1170px;
    overflow: hidden;
    margin: auto;
}


/* Begin header */
.header--top--link {
    width: auto;
    height: 40px;
    padding: 15px 0 0 0;
    border-bottom: 1px solid #e8e9e9;
}
.header--top--link--left {
    width: 50%;
    float: left;
    padding: auto;
}
.header--top--link--right {
    width: 50%;
    float: right;
}
.header--top--link--left a {
    text-decoration: none;
    color: #5f6565;
    font-size: 12px;
}
.header--top--link--left a:hover {
    color: #f4b838;
}
.header--top--link--left a:first-child {
    height: 50px;
    width: 50px;
    border-right: 1px solid #ebecec;
    padding-right: 25px;
    margin-right: 20px;
}
.header--top--link--left a {
    padding: 0 10px;
    border-right: 1px solid #5f6565;
}
.header--top--link--right ul {
    float: right;
    margin: 0;
}
.header--top--link--right ul li {
    list-style: none;
    float: left;
}
.header--top--link--right ul li a {
    color: #5f6565;
    font-size: 12px;
    margin-left: 25px;
}
.header--top--link--right ul li a:hover {
    color: #f4b838;
}
.header--top--logo {
    width: auto;
    height: 130px;
}
.header--top--logo--left {
    height: auto;
    width: 40%;
    float: left;
    padding: 15px 0;
}
.header--top--logo--left h1 a {
    text-decoration: none;
    color: #222626;
    font-size: 40px;
    letter-spacing: 5px;
}
.header--top--logo--left h1 a span {
    color: #f4b838;
}
.header--top--logo--right {
    width: 60%;
    height: auto;
    float: right;
    padding: 20px 0px;
}
.header--top--logo--right--contai {
    background: #222626;
    padding: 33px 0;
}
.header--top--logo--right--contai h5 {
    display: inline;
    font-size: 18px;
    color: #ffffff;
    margin-left: 25px;
    margin-right: 80px;
}
.header--top--logo--right--contai span{
    font-size: 14px;
    color: #a4abab;
    margin-right: 90px;

}
.header--top--logo--right--contai a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #656868;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: bold;
}
.header--top--logo--right--contai a:hover {
    background: #f4b838;
}
.header--bottom {
    height: 60px;
    background: #222626;
}
.header--bottom--left {
    width: 80%;
    float: left;
}
.header--bottom--right {
    width: 20%;
    float: right;
}
.header--bottom--left nav{
    margin: 15px 0;
}
.header--bottom--left nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    margin-right: 35px;
    font-weight: bolder;
}
.header--bottom--left nav a:hover {
    color: #f4b838;
}
.header--bottom--right a {
    float: right;
    color: #ffffff;
    margin: 15px 0;
}

/* Begin breakcrumb */
.breakcrumb {
    width: 100%;
    height: 200px;
    background: #f3f4f4;
}
.breakcrumb--left {
    width: 50%;
    float: left;
}
.breakcrumb--left p a {
    text-decoration: none;
    color: #6c7272;
    font-size: 18px;
}
.breakcrumb--left p a:hover {
    color: #f4b838;
}
.breakcrumb--left h1 a {
    text-decoration: none;
    color: #222626;
    font-size: 48px;
}
.breakcrumb--right {
    width: 50%;
    float: right;
}
.breakcrumb--right select{
    margin: 80px 0;
    float: right;
    background: #ffffff;
    width: 180px;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

/* Begin content */
.content--left {
    width: 70%;
    float: left;
}
.content--left--menu {
    margin: 80px 0 50px 0 ;
}
.content--left--menu nav a {
    text-decoration: none;
    color: #222626;
    font-size: 16px;
    font-weight: 500;
    margin-right: 40px;
}
.content--left--menu nav a:hover {
    color: #f4b838;
}
.content--left--post--first {
    width: 100%;
    clear: both;
}
.content--left--post--first--img {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}
.content--left--post--first--para {
    width: 50%;
    float: right;
}
.content--left--post--first--para h3 {
    margin-right: 30px;
    margin-top: 0;
}
.content--left--post--first--para--ita {
    color: #d8dada;
    font-size: 14px;
    font-style: italic;
}
.content--left--post--first--para--ita i {
    margin: 0 5px 0 20px;
}
.content--left--post--first--para p {
    font-size: 14px;
}
.content--left--pre {
    clear: both;
}
.content--left--pre a {
    text-decoration: none;
    color: #222626;
    font-weight: bold;
}
.content--left--pre a:hover {
    color: #a4abab;
}
.content--left--pre--prev {
    width: 30%;
    float: left;
}
.content--left--pre--prev a {
    font-size: 16px;
}
.content--left--pre--prev a i {
    margin-right: 10px;
}
.content--left--pre--center {
    width: 30%;
    float: left;
    text-align: center;
}
.content--left--pre--center a {
    margin: 20px;
}
.content--left--pre {
    height: 300px;
    width: auto;
}
.content--left--pre--next {
    width: 30%;
    float: right;
}
.content--left--pre--next a {
    float: right;
}
.content--left--pre--next a i {
    margin-left: 10px;
}

.content--right {
    width: 30%;
    float: right;
}
.content--right--social {
    width: 370px;
    height: 150px;
    border: 1px solid #e8e9e9;
    margin-top: 80px;
}