body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    .container {
        width: 100%;
        height: 635px;
        background-image: url(/Project-HTML-TVPhon/CodeGym/assets/img/codegym-bg.png);
        background-size: 100%;
        display: flow-root;
        &--form {
            width: 500px;
            height: 345px;
            background: white;
            margin: 140px auto;
            display: flow-root;
            border-top: 4px solid #0066cc;
            img {
                display: block;
                margin: 30px auto;
            }
            p {
                input {
                    display: block;
                    margin: 0 auto;
                    width: 400px;
                    height: 30px;
                    border: 0.5px solid #ededed;
                    border-bottom: 1px solid #8a8d90;
                }
                label {
                    margin-left: 47px;
                    font-size: 13px;
                    color: #8a8d90;
                }
            }
            a{
                float:  right;
                margin-bottom: 20px;
                text-decoration: none;
                color: #0088ce;
                font-size: 13px;
                margin-right: 48px;
            }
            button {
                display: block;
                margin: 20px auto ;
                width: 407px;
                height: 30px;
                border: none;
                background: #0066cc;
                font-weight: bold;
                color: white;
                cursor: pointer;
            } 
        }
    }
}