body {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    .menu {
        width: 100%;
        max-height: 50px;
        height: 50px;
        background: #474747;
        position: fixed;
        z-index: 3;
        &--logo {
            width: 30%;
            height: 50px;
            float: left;
            display: flow-root;
            box-sizing: border-box;
            h1{
                margin: 0;
                font-size: 36px;
                margin: 5px 0 5px 70px;
                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
        &--navigation {
            width: 40%;
            height: 50px;
            float: left;
            nav {
                margin: 16px 0;
                box-sizing: border-box;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    margin-right: 20px;
                    font-size: 16px;
                }
            }
        }
        &--button {
            width: 30%;
            height: 50px;
            float: left;
            a{
                text-decoration: none;
                font-size: 16px;
                background: #ededed;
                color: #686868;
                margin-right: 20px;
                display: inline-block;
                padding: 16px;
            }
        }
    }
    .header {
        width: 100%;
        height: auto;
        position: relative;
        &--image{
            width: 100%;
            height: auto;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                position: relative;
            }
            &--title {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 35%;
                left: 0;
                h1 {
                    box-sizing: border-box;
                    text-align: center;
                    margin: 0 auto;
                    border-bottom:3px solid #ffffff;
                    font-size: 48px;
                    width: 500px;
                    color: #ffffff;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                }
                ul {
                    width: 255px;
                    height: 100px;
                    margin: 0 auto;
                    li {
                        float: left;
                        margin-right: 20px;
                        list-style: none;
                        a {
                            color: #ffffff;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        &--pre {
            font-size: 40px;
            color: #ffffff;
            position: absolute;
            top: 40%;
            left: 20px;
        }
        &--next {
            font-size: 40px;
            color: #ffffff;
            position: absolute;
            top: 40%;
            right: 20px;
        }
    }
    .about {
        width: 100%;
        height: 550px;
        display: flow-root;
        h1 {
            width: 230px;
            font-size: 48px;
            margin: 25px auto;
            color: #333333;
            border-bottom: 3px solid #333333;
        }
        &--lorem {
            width: 50%;
            float: left;
            box-sizing: border-box;
            padding-left: 100px;
            padding-right: 60px;
            h3{
                font-size: 24px;
            }

        }
    }
    .food-order {
        width: 100%;
        height: 100%;
        background: url(/Project-HTML-TVPhon/VITPR/assets/img/big_img.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: flow-root;
        h1 {
            width: 135px;
            font-size: 48px;
            margin: 30px  auto 50px auto;
            border-bottom: 3px solid white;
            color: white;
        }
        &--left{
            width:485px;
            float: left;
            height: 100%;
            background: rgba($color: white, $alpha: 0.5);
            margin: 50px 0px 100px 130px;

            &--dinner{
                height: 120px;
                &--image{
                    width: 30%;
                    float: left;
                    margin-left: 30px;
                }
                &--content{
                    h6 {
                        font-size: 18px;
                        margin-bottom: 0;
                    }
                    p {
                        margin-right: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .restaurant {
        width: 100%;
        height: 100%;
        background: #f2f2f2;
        display: flow-root;
        margin-top: -26px;
        h1 {
            font-size: 48px;
            border-bottom: 3px solid black;
            width: 290px;
            margin: 20px auto 20px auto;
        }
        p {
            font-size: 14px;
            width: 848px;
            margin: 30px auto;
            text-align: center;
        }
        &--image {
            margin: 0 auto 30px auto;
            width: 89%;
            img {
                margin-left: 30px;
            }
        }
    }
    .reservation{
        background-image: url(/Project-HTML-TVPhon/VITPR/assets/img/big_img_res.jpg);
        background-size: 100%;
        height: 729px;
        background-repeat: no-repeat;
        display: flow-root;
        h1 {
            margin: 30px auto;
            width: 325px;
            color: white;
            font-size: 48px;
            border-bottom: 3px solid white;
        }
        &--form{
            width: 640px;
            height: 460px;
            background: rgba($color: #000000, $alpha: .7);
            margin: 0 auto;
            input {
                display: block;
                margin: 20px auto;
                width: 582px;
                height: 45px;
                cursor: pointer;
                background: rgba($color: #fff, $alpha: 0.7);
                border: none;
            }
            &--left {
                width: 50%;
                float: left;
                input {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    width: 267px;
                    height: 45px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    cursor: auto;
                    &:first-child {
                        margin-top: 20px;
                    }
                }
            }
            textarea {
                display: block;
                width: 588px;
                margin: 0 auto;
                padding-left: 20px;
                box-sizing: border-box;
                background: rgba($color: #fff, $alpha: 0.7);
            }
        }
    }
    .findus {
        width: 100%;
        height: 600px;
        background: #333333;
        display: flow-root;
        color: #ffffff;
        h1 {
            margin: 30px auto;
            width: 178px;
            color: white;
            font-size: 48px;
            border-bottom: 3px solid white;
        }
        &--info{
            width: 50%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            padding-left: 160px;
            &--contact {
                h5 {
                    font-size: 16px;
                }
                p {
                    span {
                        margin-left: 10px;
                    }
                }
            }
            &--opening{
                h5 {
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
            &--connect{
                h5 {
                    font-size: 16px;
                    margin-bottom: 0;
                }
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        float: left;
                        margin-right:10px;
                        a {
                            color: white;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        &--map{
            width: 50%;
            height: 100%;
            float: left;
            iframe {
                width: 500px;
                height: 350px;
            }
        }
    }
    .footer {
        width: 100%;
        height: 50px;
        background: #333333;
        display: flow-root;
        color: white;
        border-top: 1px solid white;
        &--left {
            width: 50%;
            float: left;
            box-sizing: border-box;
            padding-left: 160px;
            p {
                i {
                    margin-right: 5px;
                }
            }
        }
        &--right {
            width: 50%;
            float: left;
            box-sizing: border-box;
            padding-left: 160px;
        }
    }
}