body {
  font-family: 'Philosopher', sans-serif;
  margin: 0;
}

body .menu {
  width: 100%;
  max-height: 50px;
  height: 50px;
  background: #474747;
  position: fixed;
  z-index: 3;
}

body .menu--logo {
  width: 30%;
  height: 50px;
  float: left;
  display: flow-root;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .menu--logo h1 {
  margin: 0;
  font-size: 36px;
  margin: 5px 0 5px 70px;
}

body .menu--logo h1 a {
  text-decoration: none;
  color: #ffffff;
}

body .menu--navigation {
  width: 40%;
  height: 50px;
  float: left;
}

body .menu--navigation nav {
  margin: 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .menu--navigation nav a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
  font-size: 16px;
}

body .menu--button {
  width: 30%;
  height: 50px;
  float: left;
}

body .menu--button a {
  text-decoration: none;
  font-size: 16px;
  background: #ededed;
  color: #686868;
  margin-right: 20px;
  display: inline-block;
  padding: 16px;
}

body .header {
  width: 100%;
  height: auto;
  position: relative;
}

body .header--image {
  width: 100%;
  height: auto;
  position: relative;
}

body .header--image img {
  height: 100%;
  width: 100%;
  position: relative;
}

body .header--image--title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35%;
  left: 0;
}

body .header--image--title h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #ffffff;
  font-size: 48px;
  width: 500px;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

body .header--image--title ul {
  width: 255px;
  height: 100px;
  margin: 0 auto;
}

body .header--image--title ul li {
  float: left;
  margin-right: 20px;
  list-style: none;
}

body .header--image--title ul li a {
  color: #ffffff;
  font-size: 20px;
}

body .header--pre {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 20px;
}

body .header--next {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 40%;
  right: 20px;
}

body .about {
  width: 100%;
  height: 550px;
  display: flow-root;
}

body .about h1 {
  width: 230px;
  font-size: 48px;
  margin: 25px auto;
  color: #333333;
  border-bottom: 3px solid #333333;
}

body .about--lorem {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 100px;
  padding-right: 60px;
}

body .about--lorem h3 {
  font-size: 24px;
}

body .food-order {
  width: 100%;
  height: 100%;
  background: url(/Project-HTML-TVPhon/VITPR/assets/img/big_img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flow-root;
}

body .food-order h1 {
  width: 135px;
  font-size: 48px;
  margin: 30px  auto 50px auto;
  border-bottom: 3px solid white;
  color: white;
}

body .food-order--left {
  width: 485px;
  float: left;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  margin: 50px 0px 100px 130px;
}

body .food-order--left--dinner {
  height: 120px;
}

body .food-order--left--dinner--image {
  width: 30%;
  float: left;
  margin-left: 30px;
}

body .food-order--left--dinner--content h6 {
  font-size: 18px;
  margin-bottom: 0;
}

body .food-order--left--dinner--content p {
  margin-right: 10px;
  font-size: 14px;
}

body .restaurant {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: flow-root;
  margin-top: -26px;
}

body .restaurant h1 {
  font-size: 48px;
  border-bottom: 3px solid black;
  width: 290px;
  margin: 20px auto 20px auto;
}

body .restaurant p {
  font-size: 14px;
  width: 848px;
  margin: 30px auto;
  text-align: center;
}

body .restaurant--image {
  margin: 0 auto 30px auto;
  width: 89%;
}

body .restaurant--image img {
  margin-left: 30px;
}

body .reservation {
  background-image: url(/Project-HTML-TVPhon/VITPR/assets/img/big_img_res.jpg);
  background-size: 100%;
  height: 729px;
  background-repeat: no-repeat;
  display: flow-root;
}

body .reservation h1 {
  margin: 30px auto;
  width: 325px;
  color: white;
  font-size: 48px;
  border-bottom: 3px solid white;
}

body .reservation--form {
  width: 640px;
  height: 460px;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

body .reservation--form input {
  display: block;
  margin: 20px auto;
  width: 582px;
  height: 45px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border: none;
}

body .reservation--form--left {
  width: 50%;
  float: left;
}

body .reservation--form--left input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 267px;
  height: 45px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: auto;
}

body .reservation--form--left input:first-child {
  margin-top: 20px;
}

body .reservation--form textarea {
  display: block;
  width: 588px;
  margin: 0 auto;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
}

body .findus {
  width: 100%;
  height: 600px;
  background: #333333;
  display: flow-root;
  color: #ffffff;
}

body .findus h1 {
  margin: 30px auto;
  width: 178px;
  color: white;
  font-size: 48px;
  border-bottom: 3px solid white;
}

body .findus--info {
  width: 50%;
  height: 100%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 160px;
}

body .findus--info--contact h5 {
  font-size: 16px;
}

body .findus--info--contact p span {
  margin-left: 10px;
}

body .findus--info--opening h5 {
  font-size: 16px;
  margin-bottom: 0;
}

body .findus--info--connect h5 {
  font-size: 16px;
  margin-bottom: 0;
}

body .findus--info--connect ul {
  padding: 0;
}

body .findus--info--connect ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

body .findus--info--connect ul li a {
  color: white;
  font-size: 30px;
}

body .findus--map {
  width: 50%;
  height: 100%;
  float: left;
}

body .findus--map iframe {
  width: 500px;
  height: 350px;
}

body .footer {
  width: 100%;
  height: 50px;
  background: #333333;
  display: flow-root;
  color: white;
  border-top: 1px solid white;
}

body .footer--left {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 160px;
}

body .footer--left p i {
  margin-right: 5px;
}

body .footer--right {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 160px;
}
/*# sourceMappingURL=Home.css.map */