#display-color {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: flow-root;
}
h1 {
    text-align: center;
    margin: 82px auto;
}
.container--color {
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.container--color--red,.container--color--green,.container--color--blue {
    width: 33.3%;
    float: left;
    text-align: center;
}
.container--color--red--value {
    width: 50%;
    height: 100px;
    background: red;
    margin: 0 auto;
}
.container--color--green--value {
    width: 50%;
    height: 100px;
    background: green;
    margin: 0 auto;
}
.container--color--blue--value {
    width: 50%;
    height: 100px;
    background: blue;
    margin: 0 auto;
}
#result-red,#result-green,#result-blue {
    display: inline-block;
    margin: 41px 0;
    color: white;
}